@model EditCommitteeEditModel
@inject IUnitOfWork _uw
@{
    ViewData["page"] = "WGCreate";
    ViewData["Title"] = "ویرایش کارگروه";
    Layout = "Layout";

    var statuses = _uw.CommitteeStatusRepository.Get().ToList();
    var members = _uw.UserRepository.Get(u=>u.UserCommittees.Any(c=>c.CommitteeID==Model.ID)).ToList();
}

<link rel="stylesheet" href="~/dist/css/animate.css">
<script src="~/dist/js/wow.min.js"></script>
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1 class="wow animate__animated animate__lightSpeedInRight">
            ویرایش کارگروه
        </h1>
        <ol class="breadcrumb">
            <li><a href="/Home/Index"><i class="fas fa-home"></i> خانه</a></li>
            <li><a href="/Secretary/Committee/index">مدیریت کارگروه ها</a></li>
            <li><a href="#">ویرایش کارگروه</a></li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="box wow animate__animated animate__zoomInDown" data-wow-delay=".3s">
            <div class="box-header">
                <h3 class="box-title">فرم مشخصات کارگروه</h3>
            </div>
            <div class="box-body">
                <div class="row">
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <form asp-area="Secretary" asp-controller="Committee" asp-action="Edit" method="post">
                        <input style="display:none" asp-for="ID" />
                        <div class="col-md-12">
                            <div class="form-group">
                                <label asp-for="Name" class="control-label"></label>
                                <input required oninput="this.setCustomValidity('')" oninvalid="this.setCustomValidity('پر کردن این فیلد الزامی است.')" asp-for="Name" class="form-control" />
                            </div>
                            <div class="form-group">
                                <label asp-for="StatusID" class="control-label"></label>
                                <select asp-items="@(new SelectList(statuses,"ID","Title"))" asp-for="StatusID" class="form-control no-padding"></select>
                            </div>
                            <div class="form-group">
                                <label asp-for="SecretaryID" class="control-label"></label>
                                <select asp-for="SecretaryID" class="form-control no-padding">
                                    <option value="-1">انتخاب کنید</option>
                                    @foreach (var member in members)
                                    {
                                        <option value="@member.ID">@member.FirstName @member.LastName</option>
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <input style="display:block;width:100px;margin:0 auto 0 auto" type="submit" value="ذخیره" class="btn btn-success" />
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </section>
    <!-- /.content -->
</div>
<script>
    new WOW().init();
</script>

