@{
    ViewData["page"] = "MSG";
    ViewData["Title"] = "خطا";
    Layout = "Layout";
}
<div class="content-wrapper">
    <section class="content">
        <div class="alert alert-warning alert-dismissible">
            <button type="button" class="close pull-left" data-dismiss="alert" aria-hidden="true">×</button>
            <h4><i class="icon fa fa-warning"></i> توجه</h4>
            فایل مورد نظر پیدا نشد.
        </div>
    </section>
    <!-- /.content -->
</div>