@{
    ViewData["page"] = "MSG";
    ViewData["Title"] = "موفقیت آمیز";
    Layout = "Layout";
}
<div class="content-wrapper">
    <section class="content">
        <div class="alert alert-success alert-dismissible">
            <button type="button" class="close pull-left" data-dismiss="alert" aria-hidden="true">×</button>
            <h4><i class="icon fa fa-check"></i> توجه</h4>
            عملیات با موفقیت انجام شد.
        </div>
    </section>
    <!-- /.content -->
</div>
<script>
    document.addEventListener('DOMContentLoaded', () => {
        setTimeout(() => { window.location.href="/Home/Index"},4000);
    });
</script>