@model CreateOfficeEditModel
@inject IUnitOfWork uw
@{
    List<Office> Offices = uw.OfficeRepository.Get().ToList();
    ViewData["page"] = "OFCS";
    ViewData["Title"] = "افزودن اداره جدید";
    Layout = "Layout";
}

<link rel="stylesheet" href="~/dist/css/animate.css">
<link rel="stylesheet" href="~/plugins/select2/css/select2.min.css">
<script src="~/dist/js/wow.min.js"></script>
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1 class="wow animate__animated animate__lightSpeedInRight">
            افزودن اداره جدید
        </h1>
        <ol class="breadcrumb">
            <li><a href="/Home/Index"><i class="fas fa-home"></i> خانه</a></li>
            <li><a href="/Secretary/Office/Offices">مدیریت ادارات</a></li>
            <li class="active">افزودن اداره جدید</li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="box wow animate__animated animate__zoomInDown" data-wow-delay=".3s">
            <div class="box-header">
                <h3 class="box-title">فرم مشخصات اداره جدید</h3>
            </div>
            <div class="box-body">
                <div class="row">
                    <form action="/Secretary/Office/Create" method="post">
                        <div class="col-md-12">
                            <div asp-validation-summary="All" class="text-danger"></div>
                            <div class="form-group">
                                <label class="control-label">نام اداره</label>
                                <input asp-for="Name" class="form-control" />
                            </div>
                            <div class="form-group">
                                <label class="control-label">نام اداره سرپرست</label>
                                <select dir="rtl" style="padding-top:0px;padding-bottom:0px" asp-for="ParrentOfficeID" class="form-control select2">
                                    <option value="-1">یکی را انتخاب کنید</option>
                                    @foreach (Office office in Offices)
                                    {
                                        <option value="@office.ID">@office.Name</option>
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div dir="ltr" class="form-group">
                                <input style="width:200px" type="submit" value="ایجاد" class="btn btn-success" />
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </section>
    <!-- /.content -->
</div>
<script src="~/plugins/select2/js/select2.min.js"></script>



