@model ChangePasswordByUserEditModel
@{
    ViewData["Title"] = "داشبورد مدیریت";
    ViewData["page"] = "CHP";
    Layout = "Layout";
}
<div class="content-wrapper" style="min-height: 915.8px;">
    <section class="content-header">
        <h1>
            تغییر رمز عبور
        </h1>
        <ol class="breadcrumb">
            <li><a href="/Home/Index"><i class="fa fa-dashboard"></i> خانه</a></li>
            <li><a href="#">تغییر رمز عبور</a></li>
        </ol>
    </section>

    <section class="content">
        <div class="box box-primary">
            <!-- /.box-header -->
            <!-- form start -->
            <form id="form1" method="post" href="/User/ChangePassword" role="form">

                <div class="box-body">
                    <div class="form-group">
                        <label>رمز عبور فعلی</label>
                        <input required type="password" asp-for="OldPassword" class="form-control" placeholder="رمز عبور فعلی">
                    </div>
                    <div class="form-group">
                        <label>رمز عبور جدید</label>
                        <input required type="password" asp-for="NewPassword" class="form-control" placeholder="رمز عبور جدید">
                    </div>
                    <div class="form-group">
                        <label for="AgainPassword">تکرار رمز عبور</label>
                        <input name="AgainPassword" required type="password" class="form-control" id="AgainPassword" placeholder="تکرار رمز عبور">
                    </div>
                </div>

                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="box-footer">
                    <button type="submit" class="btn btn-primary">ارسال</button>
                </div>
            </form>
        </div>
    </section>
</div>
<script>
    document.getElementById("form1").addEventListener('submit', (ev) => {
        ev.preventDefault();
        if (ev.target["AgainPassword"].value !== ev.target["NewPassword"].value) {
            alert("رمز عبور جدید با تکرار آن مطابقت ندارد.");
            return;
        }
        ev.target.submit();
    });
</script>