@model CreateImpartBySecretaryEditModel
@inject IUnitOfWork _uw
@{
    ViewData["page"] = "NEU";
    ViewData["Title"] = "ابلاغ به واحد مجری";
    Layout = "Layout";
    var users = _uw.UserRepository.Get()
                    .Select(u=>new
                    {
                        u.Username,
                        u.LastName,
                        u.FirstName
                    })
                    .ToList();
}
<link rel="stylesheet" href="~/plugins/select2/css/select2.min.css">
<link rel="stylesheet" href="~/dist/css/animate.css">
<script src="~/dist/js/wow.min.js"></script>

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1 class="wow animate__animated animate__lightSpeedInRight">
            ابلاغ پیشنهاد به واحد مجری
        </h1>
        <ol class="breadcrumb">
            <li><a href="/Home/Index"><i class="fas fa-home"></i> خانه</a></li>
            <li><a href="#">مدیریت نظام مشارکت</a></li>
            <li class="active">ابلاغ به واحد مجری</li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content wow animate__animated animate__zoomInDown" data-wow-delay=".3s">
        <!-- Default box -->
        <form id="frm1" method="post" class="box">
            <div class="box-header with-border">
                <h3 class="box-title"></h3>

                <div class="box-tools pull-right"></div>
            </div>
            <div class="box-body">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="box box-info">
                                <div class="box-header with-border">
                                    <h3 class="box-title">ابلاغ به</h3>
                                </div>
                                <!-- /.box-header -->
                                <!-- form start -->
                                <div class="form-horizontal">
                                    <div class="box-body">
                                        <div class="form-group">
                                            <label style="text-align:right" for="inputEmail3" class="col-md-2 col-sm-3 control-label">شماره پرسنلی</label>
                                            <div class="col-md-10 col-sm-9">
                                                <select dir="rtl" asp-for="UserName" class="form-control select2">
                                                    <option>انتخاب کنید</option>
                                                    @foreach (var user in users)
                                                    {
                                                        <option value="@user.Username">@user.FirstName @user.LastName @user.Username</option>
                                                    }
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label style="text-align:right" for="inputEmail3" class="col-md-2 col-sm-3 control-label">شماره پیشنهاد</label>

                                            <div class="col-md-10 col-sm-9">
                                                <input asp-for="ProposalID" type="number" class="form-control" id="proposalID">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        @*<div class="col-md-12">
                                <div class="row">
                                    <div class="box">
                                        <div class="box-header">
                                            <h3 class="box-title">تعیین واحد مجری :</h3>
                                        </div>
                                        <div class="box-body">
                                            <div class="container">
                                                <ul id="myUL">
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>*@
                        <div class="col-md-12">
                            <div class="row">
                                <div style="margin-bottom:10px">
                                    <div onclick="SearchByUserName()" class="btn btn-info" style="width:150px;margin:0 auto 0 auto;display:block">ثبت موقت</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="row">
                                <div class="box">
                                    <div class="box-header">
                                        <h3 class="box-title">لیست واحد ها</h3>

                                        <div class="box-tools"></div>
                                    </div>
                                    <div class="box-body table-responsive no-padding">
                                        <table class="table table-hover">
                                            <thead>
                                                <tr>
                                                    <th></th>
                                                    <th>شماره پرسنلی</th>
                                                    <th>شماره پیشنهاد</th>
                                                    <th>واحد مجری </th>
                                                    <th>کد واحد مجری</th>
                                                </tr>
                                            </thead>
                                            <tbody id="tblUnits">
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="row">
                                <div style="margin-bottom:10px">
                                    <div onclick="finallRegistration()" class="btn btn-success" style="width:150px;margin:0 auto 0 auto;display:block">ثبت نهایی</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </section>
</div>
<script>
    new WOW().init();
    function SearchByUserName() {
        let userName = document.getElementById('UserName');
        let ProposalID = document.getElementById("proposalID");
        /*let inputsChecked = document.querySelectorAll('input:checked');
        let unit;
        for (var k = 0; k < inputsChecked.length; k++) {
            if (inputsChecked[k].name=="unit") {
                unit = inputsChecked[k];
            }
        }*/
        if (ProposalID.value == "" || userName.value == ""/*||unit.value.split(':').length==0*/) {
            alert("شماره پرسنلی و کد پیشنهاد را وارد کنید.");
            return;
        }
        $.ajax({
            url: "/Secretary/Impart/TemporaryRegistration",
            method: "GET",
            data: { "UserName": userName.value, "ProposalID": ProposalID.value },
            success: (data) => {
                let message = "";
                if (data == null || data == "") {
                    alert("شماره پرسنلی یا کد پیشنهاد پیدا نشد.");
                }
                else {
                    let childcount = document.getElementById('tblUnits').children.length;
                    message = "<div class='callout callout-success'><h4>نام کاربری پیدا شد</h4><p>" + data.fname + " " + data.lname + "</p> <p>محل خدمت:" + data.manName + "</p><p> سمت :" + data.unit + "</p></div>"
                    let tr = document.createElement("tr");
                    let td0 = document.createElement("td");
                    td0.innerHTML = '<i title="حذف" onClick="removeNewUnit(this.parentElement.parentElement)" style="cursor:pointer" class="fa fa-fw fa-remove"></i>';
                    let td1 = document.createElement("td");
                    td1.innerHTML = data.userName;
                    let inpt = document.createElement('input');
                    inpt.setAttribute("name", "models["+ childcount +"][ProposalID]");
                    inpt.setAttribute("style", "display:none");
                    inpt.setAttribute("value", data.proposalID);
                    td0.appendChild(inpt);
                    let td2 = document.createElement("td");
                    td2.innerHTML = data.proposalID;
                    let inpt2 = document.createElement('input');
                    inpt2.setAttribute("name", "models["+ childcount+"][UserName]");
                    inpt2.setAttribute("style", "display:none");
                    inpt2.setAttribute("value", data.userName);
                    td2.appendChild(inpt2);
                    let td4 = document.createElement("td");
                    td4.innerHTML = data.unit;
                    let td5 = document.createElement("td");
                    td5.innerHTML = data.unitID;
                    tr.appendChild(td0);
                    tr.appendChild(td1);
                    tr.appendChild(td2);
                    tr.appendChild(td4);
                    tr.appendChild(td5);
                    tblUnits.appendChild(tr);
                    unit.checked = false;
                    userName.value = "";
                }
                //document.getElementById("Message").innerHTML = message;
            },
            error: (err) => {
                alert("متأسفانه خطایی رخ داده است.");
            }
        });
    }
    function removeNewUnit(element) {
        let tblUnits = document.getElementById("tblUnits");
        element.parentElement.removeChild(element);
    }
    function finallRegistration() {
        document.getElementById('frm1').submit();
    }
</script>
<script src="~/plugins/select2/js/select2.min.js"></script>