@{
    ViewData["page"] = "";
    ViewData["Title"] = "خطا";
    Layout = "Layout";
}
<div class="content-wrapper">
    <section class="content">
        <h2 style="text-align:center">متأسفانه خطایی رخ داده است</h2>
    </section>
</div>